src/main/resources/lms.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://lms.com"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LibraryManagementSystem" targetNamespace="http://lms.com">

    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://lms.com" schemaLocation="lms.xsd"/>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="GetStudentRequest">
        <wsdl:part name="parameters" element="tns:GetStudentRequest"/>
    </wsdl:message>
    <wsdl:message name="GetStudentResponse">
        <wsdl:part name="parameters" element="tns:GetStudentResponse"/>
    </wsdl:message>
    <wsdl:message name="GetStudentResponseFault">
        <wsdl:part name="parameters" element="tns:StudentFault"/>
    </wsdl:message>
    <wsdl:message name="GetAllBooksRequest">
        <wsdl:part name="parameters" element="tns:GetAllBooksRequest"/>
    </wsdl:message>
    <wsdl:message name="GetAllBooksResponse">
        <wsdl:part name="parameters" element="tns:GetAllBooksResponse"/>
    </wsdl:message>
    <wsdl:message name="SaveBookRequest">
        <wsdl:part name="parameters" element="tns:SaveBookRequest"/>
    </wsdl:message>
    <wsdl:message name="SaveBookResponse">
        <wsdl:part name="parameters" element="tns:SaveBookResponse"/>
    </wsdl:message>

    <wsdl:portType name="lmsPortType">
        <wsdl:operation name="GetStudentWithId">
            <wsdl:input message="tns:GetStudentRequest"/>
            <wsdl:output message="tns:GetStudentResponse"/>
            <wsdl:fault name="StudentFault" message="tns:GetStudentResponseFault"/>
        </wsdl:operation>
        <wsdl:operation name="GetAllBooks">
            <wsdl:input message="tns:GetAllBooksRequest"/>
            <wsdl:output message="tns:GetAllBooksResponse"/>
        </wsdl:operation>
        <wsdl:operation name="SaveNewBook">
            <wsdl:input message="tns:SaveBookRequest"/>
            <wsdl:output message="tns:GetAllBooksResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="librarySOAP" type="tns:lmsPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetStudentWithId">
            <soap:operation soapAction="http://lms.com/GetStudentWithId"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="StudentFault">
                <soap:fault name="StudentFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="GetAllBooks">
            <soap:operation soapAction="http://lms.com/GetAllBooks"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SaveNewBook">
            <soap:operation soapAction="http://is550.soap.com/SaveNewBook"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="LibraryManagementSystem">
        <wsdl:port name="libraryServiceSOAP" binding="tns:librarySOAP">
            <soap:address location="http://localhost:8080/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>