SOAP_Service/src/main/resources/lms.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://lms.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://lms.com" targetNamespace="http://lms.com">
<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://lms.com">
<xs:element name="GetStudentRequest" type="tns:GetStudentRequestType"/>
<xs:element name="GetStudentResponse" type="tns:GetStudentResponseType"/>
<xs:element name="GetAllBooksRequest" type="tns:GetAllBooksRequestType"/>
<xs:element name="GetAllBooksResponse" type="tns:GetAllBooksResponseType"/>
<xs:element name="GetBookByIdRequest" type="tns:GetBookByIdRequestType"/>
<xs:element name="GetBookByIdResponse" type="tns:GetBookByIdResponseType"/>
<xs:element name="DeleteBookByIdRequest" type="tns:DeleteBookByIdRequestType"/>
<xs:element name="DeleteBookByIdResponse" type="tns:DeleteBookByIdResponseType"/>
<xs:element name="AddBookRequest" type="tns:AddBookRequestType"/>
<xs:element name="AddBookResponse" type="tns:AddBookResponseType"/>
<xs:element name="UpdateBookRequest" type="tns:UpdateBookRequestType"/>
<xs:element name="UpdateBookResponse" type="tns:UpdateBookResponseType"/>
<xs:complexType name="GetStudentRequestType">
<xs:sequence>
<xs:element name="studentId" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="GetStudentResponseType">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="0" name="student" type="tns:student"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="GetAllBooksRequestType">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="GetAllBooksResponseType">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="book" type="tns:book"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="GetBookByIdRequestType">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="GetBookByIdResponseType">
<xs:sequence>
<xs:element minOccurs="0" name="book" type="tns:book"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="DeleteBookByIdRequestType">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="DeleteBookByIdResponseType">
<xs:sequence>
<xs:element name="success" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="AddBookRequestType">
<xs:sequence>
<xs:element name="book" type="tns:book"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="AddBookResponseType">
<xs:sequence>
<xs:element name="success" type="xs:boolean"/>
<xs:element name="bookId" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="UpdateBookRequestType">
<xs:sequence>
<xs:element name="book" type="tns:book"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="UpdateBookResponseType">
<xs:sequence>
<xs:element name="success" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="student">
<xs:sequence>
<xs:element name="name" type="xs:string"/>
<xs:element name="surname" type="xs:string"/>
<xs:element name="studentId" type="xs:string"/>
<xs:element name="department" type="xs:string"/>
<xs:element name="year" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="book">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="title" type="xs:string"/>
<xs:element name="author" type="xs:string"/>
<xs:element name="publicationYear" type="xs:date"/>
<xs:element name="isAvailable" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="GetStudentRequest">
<wsdl:part element="tns:GetStudentRequest" name="GetStudentRequest"> </wsdl:part>
</wsdl:message>
<wsdl:message name="GetStudentResponse">
<wsdl:part element="tns:GetStudentResponse" name="GetStudentResponse"> </wsdl:part>
</wsdl:message>
<wsdl:message name="GetAllBooksResponse">
<wsdl:part element="tns:GetAllBooksResponse" name="GetAllBooksResponse"> </wsdl:part>
</wsdl:message>
<wsdl:message name="AddBookResponse">
<wsdl:part element="tns:AddBookResponse" name="AddBookResponse"> </wsdl:part>
</wsdl:message>
<wsdl:message name="DeleteBookByIdResponse">
<wsdl:part element="tns:DeleteBookByIdResponse" name="DeleteBookByIdResponse"> </wsdl:part>
</wsdl:message>
<wsdl:message name="UpdateBookResponse">
<wsdl:part element="tns:UpdateBookResponse" name="UpdateBookResponse"> </wsdl:part>
</wsdl:message>
<wsdl:message name="UpdateBookRequest">
<wsdl:part element="tns:UpdateBookRequest" name="UpdateBookRequest"> </wsdl:part>
</wsdl:message>
<wsdl:message name="GetAllBooksRequest">
<wsdl:part element="tns:GetAllBooksRequest" name="GetAllBooksRequest"> </wsdl:part>
</wsdl:message>
<wsdl:message name="AddBookRequest">
<wsdl:part element="tns:AddBookRequest" name="AddBookRequest"> </wsdl:part>
</wsdl:message>
<wsdl:message name="GetBookByIdRequest">
<wsdl:part element="tns:GetBookByIdRequest" name="GetBookByIdRequest"> </wsdl:part>
</wsdl:message>
<wsdl:message name="GetBookByIdResponse">
<wsdl:part element="tns:GetBookByIdResponse" name="GetBookByIdResponse"> </wsdl:part>
</wsdl:message>
<wsdl:message name="DeleteBookByIdRequest">
<wsdl:part element="tns:DeleteBookByIdRequest" name="DeleteBookByIdRequest"> </wsdl:part>
</wsdl:message>
<wsdl:portType name="lmsPortType">
<wsdl:operation name="GetStudent">
<wsdl:input message="tns:GetStudentRequest" name="GetStudentRequest"> </wsdl:input>
<wsdl:output message="tns:GetStudentResponse" name="GetStudentResponse"> </wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetAllBooks">
<wsdl:input message="tns:GetAllBooksRequest" name="GetAllBooksRequest"> </wsdl:input>
<wsdl:output message="tns:GetAllBooksResponse" name="GetAllBooksResponse"> </wsdl:output>
</wsdl:operation>
<wsdl:operation name="AddBook">
<wsdl:input message="tns:AddBookRequest" name="AddBookRequest"> </wsdl:input>
<wsdl:output message="tns:AddBookResponse" name="AddBookResponse"> </wsdl:output>
</wsdl:operation>
<wsdl:operation name="DeleteBookById">
<wsdl:input message="tns:DeleteBookByIdRequest" name="DeleteBookByIdRequest"> </wsdl:input>
<wsdl:output message="tns:DeleteBookByIdResponse" name="DeleteBookByIdResponse"> </wsdl:output>
</wsdl:operation>
<wsdl:operation name="UpdateBook">
<wsdl:input message="tns:UpdateBookRequest" name="UpdateBookRequest"> </wsdl:input>
<wsdl:output message="tns:UpdateBookResponse" name="UpdateBookResponse"> </wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetBookById">
<wsdl:input message="tns:GetBookByIdRequest" name="GetBookByIdRequest"> </wsdl:input>
<wsdl:output message="tns:GetBookByIdResponse" name="GetBookByIdResponse"> </wsdl:output>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="lmsPortTypeSoap11" type="tns:lmsPortType">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="GetStudent">
<soap:operation soapAction=""/>
<wsdl:input name="GetStudentRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="GetStudentResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetAllBooks">
<soap:operation soapAction=""/>
<wsdl:input name="GetAllBooksRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="GetAllBooksResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="AddBook">
<soap:operation soapAction=""/>
<wsdl:input name="AddBookRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="AddBookResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="DeleteBookById">
<soap:operation soapAction=""/>
<wsdl:input name="DeleteBookByIdRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="DeleteBookByIdResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="UpdateBook">
<soap:operation soapAction=""/>
<wsdl:input name="UpdateBookRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="UpdateBookResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetBookById">
<soap:operation soapAction=""/>
<wsdl:input name="GetBookByIdRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="GetBookByIdResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="lmsPortTypeService">
<wsdl:port binding="tns:lmsPortTypeSoap11" name="lmsPortTypeSoap11">
<soap:address location="http://localhost:8080/ws"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>