Java_Client/src/main/resources/lms.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://lms.com"
                  targetNamespace="http://lms.com"
                  name="lmsPortTypeService">

  <!-- Types: reference to external schema -->
  <wsdl:types>
    <xs:schema>
      <xs:import namespace="http://lms.com" schemaLocation="lms.xsd"/>
    </xs:schema>
  </wsdl:types>

  <!-- Messages -->
  <wsdl:message name="GetAllBooksRequest">
    <wsdl:part name="parameters" element="tns:GetAllBooksRequest"/>
  </wsdl:message>
  <wsdl:message name="GetAllBooksResponse">
    <wsdl:part name="parameters" element="tns:GetAllBooksResponse"/>
  </wsdl:message>

  <wsdl:message name="GetBookByIdRequest">
    <wsdl:part name="parameters" element="tns:GetBookByIdRequest"/>
  </wsdl:message>
  <wsdl:message name="GetBookByIdResponse">
    <wsdl:part name="parameters" element="tns:GetBookByIdResponse"/>
  </wsdl:message>

  <wsdl:message name="AddBookRequest">
    <wsdl:part name="parameters" element="tns:AddBookRequest"/>
  </wsdl:message>
  <wsdl:message name="AddBookResponse">
    <wsdl:part name="parameters" element="tns:AddBookResponse"/>
  </wsdl:message>

  <wsdl:message name="UpdateBookRequest">
    <wsdl:part name="parameters" element="tns:UpdateBookRequest"/>
  </wsdl:message>
  <wsdl:message name="UpdateBookResponse">
    <wsdl:part name="parameters" element="tns:UpdateBookResponse"/>
  </wsdl:message>

  <wsdl:message name="DeleteBookByIdRequest">
    <wsdl:part name="parameters" element="tns:DeleteBookByIdRequest"/>
  </wsdl:message>
  <wsdl:message name="DeleteBookByIdResponse">
    <wsdl:part name="parameters" element="tns:DeleteBookByIdResponse"/>
  </wsdl:message>

  <!-- PortType -->
  <wsdl:portType name="lmsPortType">
    <wsdl:operation name="GetAllBooks">
      <wsdl:input message="tns:GetAllBooksRequest"/>
      <wsdl:output message="tns:GetAllBooksResponse"/>
    </wsdl:operation>
    <wsdl:operation name="GetBookById">
      <wsdl:input message="tns:GetBookByIdRequest"/>
      <wsdl:output message="tns:GetBookByIdResponse"/>
    </wsdl:operation>
    <wsdl:operation name="AddBook">
      <wsdl:input message="tns:AddBookRequest"/>
      <wsdl:output message="tns:AddBookResponse"/>
    </wsdl:operation>
    <wsdl:operation name="UpdateBook">
      <wsdl:input message="tns:UpdateBookRequest"/>
      <wsdl:output message="tns:UpdateBookResponse"/>
    </wsdl:operation>
    <wsdl:operation name="DeleteBookById">
      <wsdl:input message="tns:DeleteBookByIdRequest"/>
      <wsdl:output message="tns:DeleteBookByIdResponse"/>
    </wsdl:operation>
  </wsdl:portType>

  <!-- Binding -->
  <wsdl:binding name="lmsPortTypeSoap11" type="tns:lmsPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetAllBooks">
      <soap:operation soapAction=""/>
      <wsdl:input><soap:body use="literal"/></wsdl:input>
      <wsdl:output><soap:body use="literal"/></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBookById">
      <soap:operation soapAction=""/>
      <wsdl:input><soap:body use="literal"/></wsdl:input>
      <wsdl:output><soap:body use="literal"/></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBook">
      <soap:operation soapAction=""/>
      <wsdl:input><soap:body use="literal"/></wsdl:input>
      <wsdl:output><soap:body use="literal"/></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBook">
      <soap:operation soapAction=""/>
      <wsdl:input><soap:body use="literal"/></wsdl:input>
      <wsdl:output><soap:body use="literal"/></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBookById">
      <soap:operation soapAction=""/>
      <wsdl:input><soap:body use="literal"/></wsdl:input>
      <wsdl:output><soap:body use="literal"/></wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <!-- Service -->
  <wsdl:service name="lmsPortTypeService">
    <wsdl:port name="lmsPortTypeSoap11" binding="tns:lmsPortTypeSoap11">
      <soap:address location="http://localhost:8080/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
